@use 'variables';


/* ============================================================ QUIZ BLOCK ============================================================ */


.game__title-holder {
    font-weight: 600;
    margin-bottom: 30px;
}

.game__answers {
    display: flex;
    flex-wrap: wrap; // Allow wrapping of elements
    gap: 1rem;
}

.game__answer {
    flex: 1; // Allows the button to grow if needed
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px #dddddd;
}

.game__answer:nth-child(3) {
    flex-basis: 100%; // Make the third button take the full width
}

.game__answer:hover {
    background-color: #f5f5f5;
}